#msg-box3-b .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-b .mbr-header .mbr-header__subtext {
  text-align: center;
}
#form1-1 .mbr-header__text {
  color: #ffffff;
}
#msg-box2-5 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-5 .mbr-article {
  color: #252525;
}
#form1-c .mbr-header__text {
  color: #ffffff;
}
#msg-box2-d .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-d .mbr-article {
  color: #252525;
}
#form1-e .mbr-header__text {
  color: #ffffff;
}
#msg-box2-f .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-f .mbr-article {
  color: #252525;
}
#features1-g P {
  text-align: center;
}
#features1-g .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#features1-g .mbr-section-title .mbr-header__text {
  color: #ffffff;
}
#msg-box2-i .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-i .mbr-article {
  color: #252525;
}
